# Android SDK location (Android Studio will auto-generate this)
# sdk.dir=C:\\Users\\YOUR_USERNAME\\AppData\\Local\\Android\\Sdk

# AMap API Key - Get from https://console.amap.com/
# 1. Register/Login at https://console.amap.com/
# 2. Create application -> Add key -> Select Android platform
# 3. Enter your app's package name: com.teplanner
# 4. Get SHA1 fingerprint: keytool -list -v -keystore ~/.android/debug.keystore -alias androiddebugkey -storepass android
# 5. Copy the API key here:
AMAP_API_KEY=your_amap_api_key_here
